@import "reset.css";

/* generic elements */

body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 16px;
  background-color: #fff;
  /* url(http://s3.amazonaws.com/twitter_production/profile_background_images/2866511/Birds.jpg) fixed no-repeat top left */
}

a {
  color: #06c;
  text-decoration: underline;
}

a.disguised {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #333;
	text-decoration: none;
}

a.disguised:hover {
  color: inherit;
  text-decoration: underline;
}

p,
ul {
  margin-bottom: 10px;
}

input.submit {
  width: auto;
}

br.clear {
  clear: both;
}

.small {
  font-size: 11px;
}

.highlight {
  padding: 2px;
  background-color: #ff9;
}

.fade {
  color: #999;
}

.superfade {
  color: #ccc;
}

.hide {
  display: none;
}

.fake_link {
  cursor: pointer;
}

.fake_link:hover {
  text-decoration: underline;
}

/* quick bar */

div#quick_bar_container {
  padding: 5px 0;
  color: #999;
  background-color: #333;
}

div#quick_bar_container div#quick_bar {
  width: 900px;
  height: 23px;
  margin: 0 auto;
  font-size: 11px;
  line-height: 11px;
}

div#quick_bar_container div#quick_bar a {
  color: #999;
}

div#quick_bar_container div#quick_bar a:hover {
  color: #ddd;
}

div#quick_bar_container div#quick_bar p {
  float: left;
  margin: 0 15px 0 0;
}

div#quick_bar_container div#quick_bar p.post_url {
  height: 21px;
  margin: 1px 15px 1px 0;
  text-transform: lowercase;
  background-color: #fff;
  background-image: url('/images/interface/quick_bar_post_url_left.gif');
  background-position: left center;
  background-repeat: no-repeat;
}

div#quick_bar_container div#quick_bar p.post_url a {
  display: block;
  padding: 5px 7px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  background-image: url('/images/interface/quick_bar_post_url_right.gif');
  background-position: right center;
  background-repeat: no-repeat;
}

div#quick_bar_container div#quick_bar form label {
  margin-right: 5px;
  text-transform: lowercase;
}

div#quick_bar_container div#quick_bar form input {
  width: 150px;
  margin-right: 5px;
}

div#quick_bar_container div#quick_bar form select,
div#quick_bar_container div#quick_bar form input.submit {
  width: auto;
  margin-right: 5px;
}

div#quick_bar_container div#quick_bar ul#quick_navigation {
  float: right;
  padding: 5px 0;
}

div#quick_bar_container div#quick_bar ul#quick_navigation li {
  float: left;
  margin-left: 10px;
}

/* container */

div#container {
  width: 900px;
  padding: 0 10px;
  margin: 0 auto;
  clear: both;
  background-color: #fff;
}

div#logo {
  float: left;
  width: 126px;
}

div#info, div#new {
  margin-top: 20px;
  float: right;
  height: 35px;
}

div#info {
  width: 172px;
  padding: 14px 10px 15px 0;
  text-align: right;
  background: url('../images/interface/info.gif') no-repeat;
}

div#info img {
  margin-bottom: 2px;
}

div#container h1 a {
  display: block;
  width: 100%;
  height: 28px;
  padding: 30px 0;
  background-image: url('/images/interface/logo.gif');
  background-position: left center;
  background-repeat: no-repeat;
}

div#container p#flash {
  padding-top: 10px;
  color: #c00;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  border-top: 1px solid #999;
  clear: both;
}

/* sidebar */

div#sidebar {
  clear: both;
  float: left;
  width: 190px;
}

div#sidebar h3 {
  margin-bottom: 10px;
  padding-top: 10px;
  font-size: 11px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 4px solid #333;
}

div#sidebar h3 a {
  font-size: 11px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

div#sidebar h3 a:hover {
  text-decoration: underline;
}

div#sidebar h4 {
  margin-bottom: 10px;
  padding-top: 7px;
  font-size: 11px;
  color: #999;
  font-weight: normal;
  border-top: 4px solid #d6d6d6;
}

div#sidebar h5 {
  font-size: 11px;
  color: #999;
  font-weight: normal;
}

div#sidebar div.box {
  margin-bottom: 20px;
  padding: 15px 15px 5px 15px;
  font-size: 11px;
  border-top: 4px solid #ccc;
  background-color: #ebebeb;
}

div#sidebar div.box p {
  line-height: 15px;
}

div#sidebar div.box p.friends {
  font-size: 0px;
}

div#sidebar div.box p.friends img {
  margin: 2px;
  border: 3px solid #fff;
  background-color: #fff;
}

div#sidebar div.box div.buttons {
  margin-bottom: 8px;
}

div#sidebar div.box p.button {
  float: left;
  height: 21px;
  margin-bottom: 2px;
  line-height: 11px;
  background-color: #fff;
  background-image: url('/images/interface/box_button_left.gif');
  background-position: left center;
  background-repeat: no-repeat;
}

div#sidebar div.box p.button a {
  display: block;
  padding: 5px 7px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  background-image: url('/images/interface/box_button_right.gif');
  background-position: right center;
  background-repeat: no-repeat;
}

div#sidebar div.box p.button a:hover {
  color: #06c;
}

div#sidebar div.box form label {
  display: block;
  margin-bottom: 2px;
}

div#sidebar div.box form input {
  width: 155px;
  margin: 0 0 5px 0;
}

div#sidebar div.box form input.submit {
  width: auto;
}

div#sidebar ul {
  margin-bottom: 10px;
}

div#sidebar ul li {
  padding-bottom: 10px;
}

/* content */

div#content {
  float: right;
  width: 710px;
}

div#content h2 {
  margin-bottom: 10px;
  padding: 10px 0 0 20px;
  font-size: 11px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  border-top: 4px solid #333;
}

div#content div.box {
  padding-left: 20px;
}

div#content ul.tabs {
  height: 24px;
  border-bottom: 4px solid #d6d6d6;
}

div#content ul.tabs li {
  float: left;
  margin-right: 5px;
  line-height: 12px;
  background-color: #ebebeb;
  background-position: top left;
  background-repeat: no-repeat;
}

div#content ul.tabs li.active {
  background-color: #d6d6d6;
  background-image: url('/images/interface/tab_left.gif');
}

div#content ul.tabs li a,
div#content ul.tabs li.active a {
  display: block;
  padding: 8px 8px 4px 8px;
  text-decoration: none;
  background-position: top right;
  background-repeat: no-repeat;
}

div#content ul.tabs li a {
  color: #999;
}

div#content ul.tabs li a:hover {
  color: #333;
  background-color: #d6d6d6;
}

div#content ul.tabs li.active a {
  color: #333;
  font-weight: bold;
  background-image: url('/images/interface/tab_right.gif');
}

div#content p.page_info {
  float: left;
}

div#content p.toggle_descs {
  float: right;
}

div#content ul.feed {
  margin-bottom: 20px;
}

div#content ul.feed li {
  padding: 7px 0;
  color: #666;
}

div#content ul.feed li a:visited {
  color: #69c;
}

div#content ul.feed li a.disguised:visited {
  color: #666;
}

div#content ul.feed li a.expand {
  float: right;
}

div#content ul.feed li img.favicon {
  float: left;
  margin-right: 7px;
}

div#content ul.feed li p.desc {
  margin: 7px 0 0 0;
}

div#content ul.feed li p.desc span.text {
  color: #333;
}

div#content ul.feed li.row1 {
  background-color: #fff;
}

div#content ul.feed li.row2 {
  background-color: #f5f7fB;
}

div#content div.pagination {
  padding: 20px 0 10px 0;
  font-size: 11px;
  border-top: 4px solid #d6d6d6;
}

div#content div.pagination span.disabled {
  display: none;
}

div#content div.pagination a,
div#content div.pagination span.current,
div#content div.pagination span.ellipse {
  padding-right: 10px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

div#content div.pagination span.current {
  color: #666;
}

/* footer */

div#footer a {
  text-decoration: none;
}

/* forms */

div.box form fieldset {
  margin-bottom: 10px;
}
div.box form legend {
  padding: 0 2px;
  font-weight: bold;
}
div.box form label {
  display: inline-block;
  /* line-height: 1.8; */
  vertical-align: top;
}
div.box form fieldset ol {
  margin: 0;
  padding: 0;
}
div.box form fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
div.box form fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
div.box form fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
div.box form fieldset fieldset label {
  display: block;
  width: auto;
}
div.box form em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
div.box form label {
  width: 120px; /* Width of labels */
}
div.box form fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}
