@import "default.css";

/* management bar */
p#management_bar {
  margin-bottom: 0;
  padding: 5px;
  font-size: 11px;
  color: #000;
  font-weight: bold;
  text-align: center;
  line-height: 11px;
  background-color: #ff0;
}

/* tags */
span.tag {
  margin-left: 5px;
  padding: 0 2px;
  font-size: 10px;
  font-weight: bold;
}

span.tag.superuser { color: #fff; background-color: #f10; }