<h2>URLS</h2>

<div id="tabs">
	<a href="" class="options_on">Public Url Feed</a>
</div>

<div class="cell">
	<h4><a href="#" class="toggle">Toggle Url Description <strong>+</strong></a>Page 1</h4>

	<ul class="feed">
	 <%= render :partial => 'link', :collection => @links %>
	</ul>

	<h4>
		<h3><a href="#">Page 2 &rarr;</a> <a href="">3</a> <a href="">4</a> <a href="">5</a> <a href="">6</a> <a href="">7</a> <a href="">8</a> ... <a href="">&infin;</a></h3>
	</h4>
	
</div>