<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>The Urld</title>
    <%= stylesheet_link_tag 'default' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    
    <div id="post">
  		<div id="post_inner">			
  			<div id="menu">
  				<p><%= link_to "About", :controller => 'numenor', :action => 'about' %> <%= link_to "Create An Account", :controller => 'members', :action => 'register' %></p>
  			</div>
  		</div>
  	</div>
  	
  	<div id="container">
  		<div id="flag">
  			<h1 id="logo"><%= link_to("THE URLD", {:controller => 'numenor'}, :title => '&lt;&lt; Go home') %></h1>
  			<%= image_tag "interface/newaroundhere.gif", :size => '230x35', :alt => "New around here? Create an account!" %>
  		</div>

  		<div id="wrapper_main">
  			<div id="left_side">
  				<h2>LOGIN</h2>
  				<div class="post_box">
  					<%- form_tag :controller => 'members', :action => 'login' do -%>
  					  <label for="member_username">Username</label>
  					  <%= text_field "member", "username" %>
  					  <label for="member_password">Password</label> <strong><a href="#">?</a></strong>
  					  <%= password_field "member", "password" %>
  					  <%= submit_tag "Login" %>&nbsp;
  					  <label for="remember_me">Remember Me</label>
  					  <%= check_box_tag "remember_me", :checked => 'checked' %>&nbsp;
  					<%- end -%>
  				</div>

  				<h2>CATEGORIES</h2>
  				<h4>General Categories</h4>
  				<ul>
  					<li><a href="#">News</a></li>
  					<li><a href="#">Politics</a></li>
  					<li><a href="#">Technology</a></li>
  					<li><a href="#">Design</a></li>
  					<li><a href="#">Science</a></li>
  					<li><a href="#">Gaming</a></li>
  					<li><a href="#">Lifestyle</a></li>
  					<li><a href="#">Entertainment</a></li>
  					<li><a href="#">Sports</a></li>
  					<li><a href="#">Offbeat</a></li>
  				</ul>

  				<h4>Subcategories</h4>

  			</div>

  			<div id="right_side">
  			  <%- if flash[:notice] or flash[:error] -%>
          <p><span id="flash"><%= flash[:notice] || flash[:error] %></span></p>
          <%- end -%>
  			  
  			  <%= @content_for_layout %>
  			</div>
  			<hr class="clear" />
  		</div>
  	</div>
    
  </body>
</html>